@charset "utf-8";
.con{
    width: 100%;
    padding: 15px;
}
.info_contain{
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 0 0 10px #F7F7F7;
    overflow-x: hidden;
    overflow-y: auto;
}
.info_img,.info_txt{
    float: left;
    height: 100%;
}
.info_img{
    width: 280px;
    padding: 25px 60px;
    text-align: center;
}
.info_img img{
    width: auto;
    max-width: 100%;
    height: auto;
}
.info_txt{
    width: 500px;
    height: auto;
    padding-top: 10px;
}
.info_block{
    width: 50%;
    height: 42px;
    line-height: 42px;
    text-align: left;
    color: #333333;
    font-size: 12px;
    float: left;
}
.whole_block{
    width: 100%;
    height: auto;
    line-height: 42px;
    text-align: left;
    color: #333333;
    font-size: 12px;
    clear: both;
    zoom: 1;
}
.whole_block>span{
    float: left;
}
.whole_block .name{
    width: auto;
}
.whole_block .content{
    width: 80%;
}