@charset "utf-8";
/* CSS Document */

.top_date {
	float: right;
	height: auto;
	width: auto;
	margin-right: 30px;
	margin-top:22px;
}
.top_date span {
	font-size: 12px;
	line-height: 26px;
	color: #3f4450;
	float: left;
	height: 26px;
	width: 60px;
}
.top_date input {
	font-size: 12px;
	line-height: 26px;
	color: #3f4450;
	float: left;
	height: 26px;
	width: 80px;
	padding-right: 5px;
	padding-left: 5px;
	border: 1px solid #ced4e0;
	background-color:#f9f9f9;
}
.top_date small {
	font-size: 12px;
	line-height: 26px;
	color: #3f4450;
	text-align: center;
	height: 26px;
	width: 20px;
	float:left;
}
.top_sel {
	float: right;
	height: auto;
	width: auto;
	margin-right: 30px;
	margin-top:22px;
}
.top_sel select {
	font-size: 12px;
	color: #3f4450;
	float: left;
	height: auto;
	width: 150px;
	border: 1px solid #ced4e0;
	background-color:#f9f9f9;
	padding-top: 4px;
	padding-bottom: 4px;
}
.suo_pic{
	width: 70px;
	height: 40px;
	margin:0 auto;
}
.suo_pic img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.hs_bj {
	color: #00a8ff;
}
.fl_btn{
	display: inline-block;
	width: 85px;
	height: 27px;
	min-width: 80px;
	font-size: 14px;
	color: #fff;
	line-height: 27px;
	text-align: center;
	margin-top: 10px;
	margin-right: 60px;
	border-radius:2px;
}

@media screen and (max-width: 830px) {
	.top_sel {
		margin-right: 5px;
	}
	.top_date {
		margin-right: 5px;
	}
	.top_src {
		width: 249px;
	}
	.top_sel select {
		width: 90px;
	}
}
